@use '../../helpers' as *;

.training {
    background-color: var(--color-beige_light);
    overflow: hidden;
    // &__wrap {};
    &__title {
        margin: 80px auto 70px;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-family-TenorSans-Regular);
        @include font-fluid-full (70, 40);
        @include mobile {
            margin: 30px auto;
        }
    };
    &__main-body {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    &__box {
        background: white;
        padding: 0 20px;
        @include laptop {
            padding: 0 10px;
        }
    };
    
    &__body {
        margin: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        column-gap: 20px;
        overflow: hidden;
        @include laptop {
            column-gap: 10px;
        }
        @include mobile {
            margin: 15px 0 5px;
        }
    };
    &__header {
        display: none
    };
    &__header.active {
        display: block;
        position: relative;
        padding-top: 40px;
    }
    &__subtitle {
        text-transform: uppercase;
        font-family: var(--font-family-TenorSans-Regular);
        @include font-fluid-full (40, 26, 26, 18);
    };
    &__advertising {
        font-family: var(--font-family-Montserrat-ExtraLight);
        @include font-fluid-full (24, 20, 18, 14);
        @include tablet {
            font-family: var(--font-family-Montserrat-Light);
        }
    };

    &__body-closet {
        display: none;
    }
    &__body-closet.active {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
        @include laptop {
            row-gap: 20px;
        }
    }
    &__btn-open {
        display: none;
    };
    &__btn-open.active {
        display: flex        ;
        justify-content: center;
        border: none;
        background: none;
    }
    &__icon-open {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-image: url('../assets/img/svg/icon_nav_arrow_down_black.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.3s ease;
    };
    &__course-name {
        text-transform: uppercase;
        font-family: var(--font-family-TenorSans-Regular);
        @include font-fluid-full (70, 40, 26);
    };
    &__tariff {
        text-transform: uppercase;
        font-family: var(--font-family-TenorSans-Regular);
        @include font-fluid-full (40, 26);
    };
    &__box-img--nobad-brows {
        background: url('../assets/img/photos/teaching/nobad_brows_basic_small.jpg') center center / cover no-repeat;
    }
    &__box-img--nobad-brows-pro {
        background: url('../assets/img/photos/teaching/nobad_brows_pro_small.jpg') center center / cover no-repeat;
    }
    &__box-img--nobad-lamilashes {
        background: url('../assets/img/photos/teaching/nobad_lamilashes_small.jpg') center center / cover no-repeat;
    }
    &__box-img--nobad-lamilashes-pro {
        background: url('../assets/img/photos/teaching/nobad_lamilashes_pro_small.jpg') center center / cover no-repeat;
    }
    &__box-img--self-makeup {
        background: url('../assets/img/photos/teaching/self_makeup_small.jpg') center center / cover no-repeat;
    }
    &__box-img {
        flex: 0 1 auto;
        @include desktop {
            background: none;
        }
        @include laptop {
            display: none;
        }
    };
    &__box-img.active {
        display: block;
        width: 324px;
        height: 195px;
        @include laptop {
            height: 216px;
            flex: 1 0 196px;
        }
        @include mobile {
            display: none;
        }
    }
    &__img {
        height: 100%;
        position: relative;
        opacity: 0;
        object-fit: cover;
        transform-origin: left top;
        @include laptop {
            display: none;
        }
    }
    &__img.transition-enabled {
        opacity: 1;
        transition: transform 0.8s ease;
    }
    &__img.active {
        height: auto;
        transform: 
                rotate(90deg)
                scale(var(--scale-x, 1), var(--scale-y, 1))
                translate(0px, -100%);
    }
    &__body-open {
        display: none
    }
    &__body-open.active {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-between;
    }
    &__btn-closing {
        display: none;
    }
    &__btn-closing.active {
        position: absolute;
        top: 40px;
        right: 0;
        display: flex        ;
        justify-content: center;
        border: none;
        background: none;
    }
    &__icon-closing {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-image: url('./assets/img/svg/icon_close.svg');
        background-size: contain;
        background-repeat: no-repeat;
        transition: transform 0.8s ease;
        @include laptop-above {
            &:hover {
                background-image: url('./assets/img/svg/icon_close_hover.svg');
            }
        }
    }
    &__box-text {
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 20px
    };
    &__box-text p {
        font-family: var(--font-family-Montserrat-Light);
        @include font-fluid-full (18);
    };
    &__presentation {
        color: var(--color-beige);
        margin-bottom: 30px;
        font-family: var(--font-family-TenorSans-Regular);
        @include font-fluid-full (40, 40, 40, 26);
    };
    &__list-body {
        display: flex;
        flex-direction: column;
        row-gap: 10px
    };
    &__item {
        display: flex;
        justify-content: space-between;
        font-family: var(--font-family-Montserrat-Regular);
        @include font-fluid-full (18, 18, 18, 14);
        @include mobile {
            font-family: var(--font-family-Montserrat-Light);
        }
    };
    &__list-footer {
        margin-top: 30px;
        padding-top: 20px;
        border-top: 1px solid;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        @include mobile {
            margin-bottom: 15px;
        }
    }
    &__list-footer li {
        display: flex;
        justify-content: space-between;
    }
    &__duration, &__term, &__cost {
        font-family: var(--font-family-TenorSans-Regular);
        @include font-fluid-full (22);
    };
    &__price {
        font-family: var(--font-family-Montserrat-Regular);
        @include font-fluid-full (24);
    };
    &__record {
        margin: 70px 0 80px;
        display: flex;
        justify-content: space-between;
        @include tablet {
            text-align: center;
            flex-wrap: wrap;
            row-gap: 20px;
        }
        @include mobile {
            margin: 30px 0 50px;
        }
    }
    &__record-text {
        width: 590px;
        font-family: var(--font-family-Montserrat-ExtraLight);
        @include font-fluid-full (24, 20, 18);
        @include tablet {
            font-family: var(--font-family-Montserrat-Light);
            width: 100%;
        }
    }
    &__record-link {
        width: 388px;
        @include tablet {
            width: 100%;
        }
    }
}

