/* .image-wrapper {
    border: 2px solid;
    width: 537px;
    height: 877px;
    overflow: hidden;
    perspective: 1000px;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease, width 0.6s ease, height 0.6s ease;
    transform-origin: center;
    display: block;
}
.image.active {
    transform: rotate(90deg) scale(0.375, 0.5); 
} */
.image-wrapper {
    position: relative;
    width: 537px;
    height: 877px;
    background: #f0f0f0;
    border: 2px solid #999;
  }
  
  .image {
    width: 537px;
    height: 877px;
    object-fit: cover;
    transition: transform 0.6s ease;
    transform-origin: left top;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* Активний стан */
  .image.active {
    transform: rotate(90deg) scale(0.375, 0.5) translate(0px, -123%);
  }