@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('./NOBADBEAUTY/assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
    src: url('/NOBADBEAUTY/assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
    src: url('NOBADBEAUTY/assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
    src: url('./assets/fonts/Montserrat-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./NOBADBEAUTY/assets/fonts/Montserrat-Light.woff2') format('woff2');
    src: url('/NOBADBEAUTY/assets/fonts/Montserrat-Light.woff2') format('woff2');
    src: url('NOBADBEAUTY/assets/fonts/Montserrat-Light.woff2') format('woff2');
    src: url('./assets/fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./NOBADBEAUTY/assets/fonts/Montserrat-Regular.woff2') format('woff2');
    src: url('/NOBADBEAUTY/assets/fonts/Montserrat-Regular.woff2') format('woff2');
    src: url('NOBADBEAUTY/assets/fonts/Montserrat-Regular.woff2') format('woff2');
    src: url('./assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('./NOBADBEAUTY/assets/fonts/Montserrat-Medium.woff2') format('woff2');
    src: url('/NOBADBEAUTY/assets/fonts/Montserrat-Medium.woff2') format('woff2');
    src: url('NOBADBEAUTY/assets/fonts/Montserrat-Medium.woff2') format('woff2');
    src: url('./assets/fonts/Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-ExtraLight';
    src: url('./NOBADBEAUTY/assets/fonts/Roboto-ExtraLight.woff2') format('woff2');
    src: url('/NOBADBEAUTY/assets/fonts/Roboto-ExtraLight.woff2') format('woff2');
    src: url('NOBADBEAUTY/assets/fonts/Roboto-ExtraLight.woff2') format('woff2');
    src: url('./assets/fonts/Roboto-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TenorSans-Regular';
    src: url('./NOBADBEAUTY/assets/fonts/TenorSans-Regular.woff2') format('woff2');
    src: url('/NOBADBEAUTY/assets/fonts/TenorSans-Regular.woff2') format('woff2');
    src: url('NOBADBEAUTY/assets/fonts/TenorSans-Regular.woff2') format('woff2');
    src: url('./assets/fonts/TenorSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}