.font-size-h1-laptop {font-size: var(--font-size-h1-laptop);} // 80px

.font-size-h1-tablet {font-size: var(--font-size-h1-tablet);} // 40px

.font-size-h2-laptop {font-size: var(--font-size-h2-laptop);} // 70px

.font-size-h2-tablet {font-size: var(--font-size-h2-tablet);} // 60px

.font-size-h3-laptop {font-size: var(--font-size-h3-laptop);} // 40px

.font-size-h3-tablet {font-size: var(--font-size-h3-tablet);} // 26px

.font-size-h4-laptop {font-size: var(--font-size-h4-laptop);} // 22px

.font-size-h4-tablet {font-size: var(--font-size-h4-tablet);} // 18px

.font-size-h5-laptop {font-size: var(--font-size-h5-laptop);} // 15px

.font-size-h5-tablet {font-size: var(--font-size-h5-tablet);} // 13px

.font-size-h6-laptop {font-size: var(--font-size-h6-laptop);} // 12px

.font-size-subtittle-laptop {font-size: var(--font-size-subtittle-laptop);} // 36px

.font-size-subtittle-tablet {font-size: var(--font-size-subtittle-tablet);} // 22px

.font-size-discriptor-laptop {font-size: var(--font-size-discriptor-laptop);} // 18px

.font-size-button {font-size: var(--font-size-button);} // 20px

.font-size-body1 {font-size: var(--font-size-body1);} // 18px

.font-size-body2 {font-size: var(--font-size-body2);} // 24px

.font-size-menu1 {font-size: var(--font-size-menu1);} // 18px

.font-size-menu2-laptop {font-size: var(--font-size-menu2-laptop);} // 18px

.font-size-menu2-tablet {font-size: var(--font-size-menu2-tablet);} // 14px

.font-size-menu-pressed {font-size: var(--font-size-menu-pressed);} // 18px

.font-size-detail-laptop {font-size: var(--font-size-detail-laptop);} // 15px

.font-size-detail-tablet {font-size: var(--font-size-detail-tablet);} // 14px

.font-size-detail2 {font-size: var(--font-size-detail2);} // 16px

.font-size-body-mobile {font-size: var(--font-size-body-mobile);} // 14px
