@use 'helpers' as *;

:root {
    // Colors
    --color-mint: #A8F1F8;
    --color-white: #FFFFFF;
    --color-black: #000000;

    // Background
    --color-black_light: #181818;
    --color-gray_light: #F4F4F4;
    --color-beige: #928D89;
    --color-beige_light: #CEC5C1;

    // Buttons
    --color-gradient_light: linear-gradient(90deg, #A8F1F8 0%, #FEFEFE 100%); 
    --color-gradient_dark: linear-gradient(90deg, #131312 0%, #70A2A6 100%);

    // Fonts
    --font-family-Montserrat-ExtraLight: 'Montserrat-ExtraLight', sans-serif; // 200
    --font-family-Montserrat-Light: 'Montserrat-Light', sans-serif; // 300
    --font-family-Montserrat-Regular: 'Montserrat-Regular', sans-serif; // 400
    --font-family-Montserrat-Medium: 'Montserrat-Medium', sans-serif; // 500
    --font-family-Roboto-ExtraLight: 'Roboto-ExtraLight', sans-serif; // 200
    --font-family-TenorSans-Regular: 'TenorSans-Regular', sans-serif; // 400

    --font-size-h1-laptop: 80px;
    --font-size-h1-tablet: 40px; // tablet

    --font-size-h2-laptop: 70px;
    --font-size-h2-tablet: 60px; // tablet

    --font-size-h3-laptop: 40px;
    --font-size-h3-tablet: 26px; // tablet

    --font-size-h4-laptop: 22px;
    --font-size-h4-tablet: 18px; // tablet

    --font-size-h5-laptop: 15px;
    --font-size-h5-tablet: 13px; // tablet

    --font-size-h6-laptop: 12px;

    --font-size-subtittle-laptop: 36px;
    --font-size-subtittle-tablet: 22px; // tablet

    --font-size-discriptor-laptop: 24px;

    --font-size-button: 20px;

    --font-size-body1: 18px;

    --font-size-body2: 24px;

    --font-size-menu1: 18px;

    --font-size-menu2-laptop: 18px;
    --font-size-menu2-tablet: 14px; // tablet

    --font-size-menu-pressed: 18px;

    --font-size-detail-laptop: 15px;
    --font-size-detail-tablet: 14px; // tablet

    --font-size-detail2: 16px;

    --font-size-body-mobile: 14px; // mobile
}