@use 'helpers' as *;

:root {
    // Colors
    --color-mint: #A8F1F8;
    --color-white: #FFFFFF;
    --color-black: #000000;

    // Background
    --color-black_light: #181818;
    --color-gray_light: #F4F4F4;
    --color-beige: #928D89;
    --color-beige_light: #CEC5C1;

    // Buttons
    --color-gradient_light: linear-gradient(90deg, #A8F1F8 0%, #FEFEFE 100%); 
    --color-gradient_dark: linear-gradient(90deg, #131312 0%, #70A2F6 100%);

    // Fonts
    --font-family-Montserrat-ExtraLight: 'Montserrat-ExtraLight', sans-serif;
    --font-family-Montserrat-Light: 'Montserrat-Light', sans-serif;
    --font-family-Montserrat-Medium: 'Montserrat-Medium', sans-serif;
    --font-family-Montserrat-Regular: 'Montserrat-Regular', sans-serif;
    --font-family-Roboto-ExtraLight: 'Roboto-ExtraLight', sans-serif;
    --font-family-TenorSans-Regular: 'TenorSans-Regular', sans-serif;
}