@use 'normalize';
@use 'fonts';
@use 'fonts-size';
@use 'variables';
@use 'utils';
@use 'globals';

@use 'helpers' as *;

@use 'components/header';
@use 'components/main-home-page';
@use 'components/main-about-me';
@use 'components/main-portfolio';
@use 'components/main-price';
@use 'components/main-training';
@use 'components/footer';


.main {
    flex-grow: 1; 
}

// Адаптування під мобільний екран
.not-for-mobile-version {
    @include mobile {
        display: none;
    }
}
.for-mobile-version {
    display: none;
    @include mobile {
        display: flex;
        flex-direction: column;
    }
}