@use '../helpers' as *;
@use 'header-only-burger';

header {
    background: var(--color-black);
    &.active {
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5 )), 
                    url(../img/photos/photos-main/background-menu.jpg) no-repeat center center / cover;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 30px;
    @include mobile {
        margin: 20px 0 13px;
    }
    &__box-logo {
        position: relative;
        z-index: 3;
    }
    &__body {
        display: flex;
        column-gap: 25px;
        align-items: center;
        @include laptop {
            flex-direction: row-reverse;
        }
    }
    &__record-link {
        width: 181px;
        border: 1px solid var(--color-mint);
    }
    &__nav, &__record {
        @include laptop {
            display: none;
        }
    }
    &__language {
        @include mobile {
            display: none;
        }
    }
    &__burger {
        display: flex;
        align-items: center;
        column-gap: 13px;
        cursor: pointer;
        z-index: 3;
        @include desktop {
            display: none;
        }
        &-box_logo {
            width: 260px;
            @include mobile {
                width: 162px;
            }
        }
        &-box_logo img {
            width: 100%;
        }
        &-language {
            a {
                font-size: 40px;
            }
        }
        &-box {
            display: flex;
            flex-direction: column;
            row-gap: 6px;
            cursor: pointer;
            margin-left: 10px;
        }
        &-title {
            @include mobile {
                display: none;
            }
        }
        &-title.active{
            display: none;
        }
        &-text {
            color: var(--color-white);
        }
        &-span {
            display: block;
            width: 32px;
            height: 3px;
            background: var(--color-white);
            transition: all 0.3s ease;
        }
        
        &.active .header__burger-span:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
        
        &.active .header__burger-span:nth-child(2) {
            opacity: 0;
        }
        
        &.active .header__burger-span:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
    }
    &__nav-burger {
        display: none;
        width: 100%;
        position: absolute;
        top: 180px;
        left: 0;
        padding-left: 65px;
        z-index: 2;
        @include mobile {
            padding-left: 10px;
        }
    
        &.active {
            display: block;
        }
        
        ul {
            flex-direction: column;

            li {
                a, .btn-submenu  {
                    font-size: 36px;
                    @include mobile {
                        font-size: 24px;
                    }
                }
            }
        }
    }
    
}