@use '../../helpers' as *;

.home-screen {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #625952;
    min-height: 792px;
    background-image: url("./assets/img/photos/photos-main/main_photo.jpg");
    background: image-set(
        url("./assets/img/photos/photos-main/main_photo.jpg") 1x,
        url("./assets/img/photos/photos-main/main_photo@2x.jpg") 2x
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        @include laptop {
            background-image: url("./assets/img/photos/photos-main/main_photo_small.jpg");
        }
        @include tablet {
            min-height: 470px;
        }
        @include mobile {
            background-image: url("./assets/img/photos/photos-main/main_photo_mobile.jpg");
        }
    // &__main-block {
    // }
    &__main-text {
        margin-top: 146px;
        max-width: 633px;
        color: var(--color-white);
        @include tablet {
            margin-top: 60px;
        }
        @include mobile {
            margin-top: 30px;
        }
    }
    &__hero, &__slogan, &__slogan-small, &__record a, &__contact a {
        line-height: 100%;
    }
    &__hero {
        font-family: var(--font-family-TenorSans-Regular);
        text-transform: uppercase;
        padding: 7px 0;
        margin-bottom: 12px;
        @include font-fluid-full (80, 70, 40, 30);
        @include mobile {
            margin-bottom: 10px;
        }
    }
    &__hero span {
        display: inline-block;
    }
    &__slogan {
        font-family: var(--font-family-Montserrat-ExtraLight);
        padding: 8px 0;
        @include font-fluid-full (36, 30, 22);
    }
    &__invocation {
        margin: 80px 0 110px;
        max-width: 386px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @include tablet {
            margin: 40px 0 35px;
        }
        @include mobile {
            margin: 40px 0 280px;
        }
    }
    &__slogan-small {
        font-family: var(--font-family-Montserrat-ExtraLight);
        color: var(--color-white);
        padding: 3px 0;
        @include font-fluid-full (24, 20, 18, 14);
    }
    &__btn-link {
        @include laptop {
            width: 320px;
        }
        @include tablet {
            width: 232px;
        }
        @include mobile {
            display: none;
        }
    }
    &__record-mobile {
        text-align: center;
    }
    &__record-mobile a{
        margin: 30px 0 40px;
        padding: 18px 111px;
        background: var(--color-gradient_light);
        color: var(--color-black);
        border-radius: 12px;
    }
    &__contacts {
        max-width: 420px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        @include laptop {
            max-width: 400px;
        }
        @include tablet {
            max-width: 330px;
        }
    }
    &__contacts a {
        font-family: var(--font-family-Montserrat-ExtraLight);
        color: var(--color-white);
        @include font-fluid-full (24, 18, 14);
        @include laptop-above {
            &:hover {
                color: var(--color-mint);
            }
        }
        @include tablet {
            &:active {
                color: var(--color-mint);
            }
        }
    }
    &__contact-item.contact--phone {
        margin-bottom: 10px;
        &::before {
        content: url("./assets/img/svg/icon_phone.svg");
        @include square (30px);
        }
        @include laptop-above {
            &:hover::before {
            content: url("./assets/img/svg/icon_phone_mint.svg");
            }
        }
        @include tablet {
            &:active::before {
                content: url("./assets/img/svg/icon_phone_mint.svg");
            }
        }
        @include mobile {
            &::before {
                content: url("./assets/img/svg/icon_phone_mob.svg");
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
            &:active::before {
                content: url("./assets/img/svg/icon_phone_mob_mint.svg");
            }
        }
    }
    &__contact-item.contact--address {
        &::before {
        content: url("./assets/img/svg/icon_map.svg");
        @include square (44px)
        }
        @include laptop-above {
            &:hover::before {
                content: url("./assets/img/svg/icon_map_mint.svg");
            }
        }
        @include tablet {
            &:active::before {
                content: url("./assets/img/svg/icon_map_mint.svg");
            }
        }
        @include mobile {
            &::before {
                content: url("./assets/img/svg/icon_map_mob.svg");
                width: 16px;
                height: 16px;
                margin-right: 5px;
            }
            &:active::before {
                content: url("./assets/img/svg/icon_map_mob_mint.svg");
            }
        }
    }
    &__link {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        @include tablet {
            margin-bottom: 15px;
        }
        @include mobile {
            margin: 0;
            flex-direction: column;
        }
    }
    &__social {
        display: flex;
        align-items: flex-end;
        column-gap: 10px;
    }
    &__social--svg {
        padding: 10px;
    }
}