@use '../../helpers' as *;

.portfolio {
    overflow: hidden;
    background-color: var(--color-beige);
    position: relative;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__wrap {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 100px auto;
        row-gap: 50px;
        @include laptop {
            row-gap: 35px;
        }
        @include tablet {
            margin: 70px auto;
            row-gap: 20px;
        }
        @include mobile {
            margin: 50px auto;
        }
    }
    &__main-text {
        text-transform: uppercase;
    }
    &__box-photo {
        display: flex;
        column-gap: 20px;
        @include laptop {
            margin-top: 15px;
            column-gap: 9px;
        }
        @include mobile {
            flex-direction: column;
        }
    }
    &__main-photo-box {
        display: flex;
        flex-direction: column;
        flex: 1;
        transition: 0.5s ease;
    }
    &__main-photo {
        padding: 10px;
        border: 1px solid transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        transition: 0.5s ease;
        @include laptop-above {
            &:hover {
                border: 1px solid black;
                background-color: rgba(249, 249, 249, 0.1); /* F9F9F9 з прозорістю 10% */
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px); /* для Safari */
            }
        }
        @include tablet {
            padding: 0px;
            &:active {
                border: 1px solid black;
                background-color: rgba(249, 249, 249, 0.1); /* F9F9F9 з прозорістю 10% */
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px); /* для Safari */
            }
        }
        @include mobile {
            min-width: 320px;
            margin-bottom: 20px;
        }

    }
    &__main-photo img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        @include laptop {
            padding: 0 0 10px;
        }
    }
    &__main-photo p {
        max-width: 50%;
        @include mobile {
            max-width: 100%;
        }
    }
    &__photos {
        flex: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 17px;
        row-gap: 10px;
        @include tablet {
            column-gap: 9px;
            row-gap: 0px;
        }
        @include mobile {
            column-gap: 10px;
            row-gap: 20px;
        }
    }
    &__small-photo {
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        min-width: 154px;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: 0.5s ease;
        @include laptop {
            padding: 0 0 10px;
        }
        @include tablet {
            padding: 0px;
        }
        &:hover {
                border: 1px solid black;
                background-color: rgba(249, 249, 249, 0.1); /* F9F9F9 з прозорістю 10% */
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px); /* для Safari */
            @include tablet {
                padding: 0px;
            }
            @include mobile {
                padding-bottom: 10px;
            }
        }
    }
    &__small-photo img {
        width: 100%;
        border-radius: 5px;
        @include tablet {
            padding: 0px;
        }
        @include mobile {
            padding-bottom: 10px;
        }
    }
    &__main-heading {
        font-family: var(--font-family-TenorSans-Regular);
        color: var(--color-black);
        @include font-fluid-full (70, 40, 26);
    }
    &__secondary-heading {
        font-family: var(--font-family-TenorSans-Regular);
        color: var(--color-black);
        @include font-fluid-full (40, 22, 18);
    }
    &__text-slogan {
        max-width: 650px;
        font-family: var(--font-family-Montserrat-Regular);
        color: var(--color-black);
        @include font-fluid-full (24, 18, 14);
        @include laptop {
            width: 75%;
        }
        @include tablet {
            width: 75%;
        }
        @include mobile {
            width: 100%;
        }
    }

    &__text-category {
        padding: 10px 0 12px;
        text-align: center;
        text-transform: uppercase;
        font-family: var(--font-family-TenorSans-Regular);
        color: var(--color-black);
        @include font-fluid-full (22, 13, 13);
    }
}