@use '../../helpers' as *;

.reviews {
    background: var(--color-gray_light);
    position: relative;
    overflow: hidden;
    &__wrap {
        margin: 150px auto;
        @include laptop {
            max-width: 850px;
        }
        @include tablet {
            max-width: 640px;
            margin: 100px auto;
        }
        @include mobile {
            margin: 50px auto;
        }
    }
    &__h2 {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: var(--font-family-TenorSans-Regular);
        color: var(--color-black);
        @include font-fluid-full (70, 40, 36, 26);
        @include tablet {
            margin-bottom: 15px;
        }
    }
    &__h3 {
        margin-bottom: 55px;
        max-width: 935px;
        font-family: var(--font-family-Montserrat-ExtraLight);
        color: var(--color-black);
        @include font-fluid-full (36, 24, 16);
        @include tablet {
            margin-bottom: 60px;
        }
    }
    &__box-reviews {
        display: flex;
        column-gap: 20px;
        @include mobile {
            flex-direction: column-reverse;
        }
    }
    &__set {
        min-width: 387px;
        @include tablet {
            min-width: 261px;
        }
        &-text {
            margin-bottom: 30px;
            max-width: 390px;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
            @include tablet {
                max-width: 260px;
                row-gap: 20px;
            }
            @include mobile {
                max-width: none;
                row-gap: 15px;
            }
        }
        &-h6 {
                font-family: var(--font-family-Montserrat-Light);
                @include font-fluid-full (18, 14)
            }
    }
    &__get {
        // overflow: hidden;
    }
}