@use '../../helpers' as *;

.my-aspiration {
    background-color: var(--color-beige);
    position: relative;
    overflow: hidden;
    &__wrap {
        position: relative;
        margin: 100px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "photo body"
            "photo gallery";
        gap: 20px;

        @include tablet {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            column-gap: 10px;
            margin: 70px auto;
        }

    @include mobile {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "photo"
            "body"
            "gallery";
        margin: 40px auto 30px;
        }
    }
    &__box-photo {
        flex: 1 0 425px;
        position: relative;
        @include laptop {
            overflow: hidden;
        }
        @include tablet {
            flex: 1 0 261px;
        }
        @include mobile {
            order: 2;
            margin-bottom: 10px;
            flex: none;
        }
    }
    &__box-photo img {
        width: 696px;
        height: 100%;
        position: absolute;
        right: 0;
        @include laptop {
            width: 100%;
            height: 100%;
            position: static;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.05);
            }
            @include tablet {
                &:hover {
                    transform: none;
                }
            }
        }
        @include tablet {
            height: auto;
        }
    }
    &__body {
        margin-bottom: 70px;
        padding-left: 10px;
        flex: 1 0 690px;
        display: flex;
        flex-direction: column;
        @include laptop {
            flex: 0 0 420px;
        }
        @include tablet {
            flex: 1 1 349px;
            margin-bottom: 30px;
        }
        @include mobile {
            order: 1;
            margin: 0 auto 30px;
        }
        h2 {
            margin-bottom: 20px;
            text-transform: uppercase;
            font-family: var(--font-family-TenorSans-Regular);
            @include font-fluid-full (40, 32, 26);
            @include tablet {
                margin-bottom: 10px;
            }
        }
        h3 {
            margin-bottom: 60px;
            font-family: var(--font-family-Montserrat-ExtraLight);
            @include font-fluid-full (24, 20, 16);
            @include laptop {
                margin-bottom: 30px;
            }
        }
        p { 
            margin-bottom: 30px;
            font-family: var(--font-family-Montserrat-Light);
            @include font-fluid-full (18, 16);
            @include tablet {
                margin-bottom: 15px;
            }
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            list-style-type: disc;
            padding-left: 20px;
            @include laptop {
                gap: 5px;
            }
            @include tablet {
                gap: 2px;
            }
        }
        li { 
            font-family: var(--font-family-Montserrat-Light);
            line-height: 1.25;
            @include font-fluid-full (16, 14);
        }
    }
    &__box-photos {
        display: flex;
        justify-content: space-between;
        column-gap: 25px;
        overflow: hidden;
        @include laptop {
            flex: none;
            width: 100%;
            margin-top: 15px;
        }
        @include tablet {
            margin-top: 0;
            column-gap: 10px;
        }
        @include mobile {
            order: 3;
        }
        img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            @include mobile {
                min-width: 107px;
            }
        }
    }
    &__wrapper {
        border-radius: 5px;
        overflow: hidden;
    }
}

.my-aspiration__box-photo {
    grid-area: photo;
}

.my-aspiration__body {
    grid-area: body;
}

.my-aspiration__box-photos {
    grid-area: gallery;
}